@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.column {
  text-align: right;
  /* border: solid green 1px; */
}

.select {
  height: 2em;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.card {
  /* margin: 1rem; */
  /* flex-basis: 50%; */
  padding: 1.1rem 1rem;
  /* text-align: left; */
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #CCCCCC;
  /* border-radius: 10px; */
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card .inputUnit {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.flex {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}

.mortgage {
  /* display: flex; */
  flex-direction: column;
  flex-basis: 100%;
}

.mortgageResult {
  background: white !important;
}

.yourMonthlyMortgage {
  background: var(--purple);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 500;
}

.flex_container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.flex_resultsContainer {
  display: flex;
  /* flex-basis: 100%; */
  justify-content: space-evenly;
  /* justify-content: center; */
}

.flex_together{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_together .capsuleInput{
  margin-right: 1em;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.capsuleInput {
  /* border: solid 1px blue; */
  border-radius: 10px;
  background-color:  #e6e6e6;
  display: flex;
  align-items: center;
  box-shadow: var(--dropShadow);
}



.card section {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card input {
  height: 2em;
  background-color: #e6e6e6;
  border: none;
  /* border-radius: 0px 5px 5px 0px; */
  border-radius: 10px;
  /* border-bottom: black 1px solid; */
  outline: none;
  font-size: 0.9em;
  width: 100px;
  /* padding: 0.3em; */
  padding: 0.8em;
}

.card span {
  border-radius: 10px 0px 0px 10px;
  padding: 0.3em 0.5em;
  /* background-color: #EE5C4D; */
  /* background-color: plum; */
  /* background-image: linear-gradient(to bottom, rgb(175, 162, 237), rgb(116, 35, 208)); */
  background-image: var(--purple);
  color: white;
  /* background-color: transparent; */
}

.card select {
  border-radius: 10px;
  padding: 0.5em;
  /* background-color: #EE5C4D; */
  background-image: var(--purple);
  color: #FFFFFF;
  /* margin: 0 0.2em; */
  border: none;
  height: 2.1em;
}

.card small {
  color: grey;
}

.percentInput {
  width: 100px;
}





@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  
}








/* INFO POPUP */
.popup {
  position: relative;
  display: inline-block;
  /* cursor: pointer; */
  /* border: red 1px solid; */
  padding: 0 0.35em;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}










/* .fixed {
  position: fixed;
  bottom: 0;
  right: 2em;
  width: 800px;
  border: purple solid 2px;
} */

.sticky {
  position: fixed;
  top: 0;
  /* right: 0.5em; */
  width: 50%;
}

.results_container {
  width: 50%;
}

.results {
  position: relative;
  /* width: 800px; */
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  color: inherit;
  text-decoration: none;
  /* border: green 1px solid; */
  border-radius: 30px;
  background-color: #FFFFFF;

  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 2rem;
  margin: 0 1em;
  padding: 2em; */

}

.results h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.results p {
  margin: 0;
  font-size: 1rem;
  line-height: 2;
}

.results > div {
  /* border: solid #eaeaea 1px; */
  padding: 1em;
}


.spaceBetween {
  display: flex;
  justify-content: space-between;
  border-bottom: #CCCCCC 1px solid;
  /* padding-right: 1em; */
}









.importLogo {
  /* background-color: moccasin !important; */
  height: 3em !important;
}

.importLogo::-webkit-file-upload-button {
  background-color:  #e6e6e6;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  padding: 0.6em;
  box-shadow: var(--dropShadow);
}

/* .importLogo::before {
  content: "Choose File...";
} */


.printButtonContainer {
  width: 100%;
  text-align: center;
}

.printButtonContainer button {
  background: var(--purple);
  color: white;
  cursor: pointer;
}




/* PDF Results Page */

.resultsPage {
  /* margin: auto 2em; */
  background-color: #fff;
}


.resultsPDF {
  position: relative;
  /* display: block; */
  padding: 0rem 2rem 1rem 1rem;
  color: inherit;
  text-decoration: none;
  margin-top: 1em;
  /* max-width: 900px; */
  /* min-width: 50%; */
  /* min-width: 525px; */
  color: inherit;
  text-decoration: none;
  /* border: green 1px solid; */
  border-radius: 30px;
  background-color: #FFFFFF;
}

.resultsPDF h3, .resultsPDF h2 {
  color: black;
  background-image: linear-gradient(to bottom, black, black);
}

.resultsPDF h4 {
  font-size: 1.7em;
}

.resultsPDF h1 {
  font-size: 1.7em;
  margin: 1.3em 0;
}



.pdfImages {
  margin-top: 1em;
  display: inline-block;
  width: 50%;
}

.pdfImages img {
  width: 100%;
}








/* MOBILE QUERY */
@media screen and (max-width: 1000px) {

  .resultsPage {
    margin: auto 0;
  }

  .main__title object {
    max-width: 80%;
    margin: 0 1em;
  }

  .sticky {
    position: relative;
    top: 0;
    /* right: 0.5em; */
    width: 100%;
  }

  .flex {
    display: block;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
  }


  .flex_container {
    display: block;
    flex-basis: 100%;
    justify-content: space-between;
  }

  .flex_together{
    display: block;
    align-items: center;
    justify-content: flex-end;
  }
  
  .flex_together .capsuleInput{
    margin-right: 0;
  }

  .leftInputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    /* margin-top: 2rem; */
    /* border: #0070f3 solid 1px; */
  }


  .card {
    border: none;
  }

  .card p, .card section {
    font-size: 100%;
  }

  .card input {
    outline: none;
    width: 100%;
    padding: 0.5em;
  }

  .card:hover,
  .card:focus,
  .card:active {
  color: inherit;
  text-decoration: none;
  border: none;
}

  .range {
    /* border: orange solid 1px !important; */
    width: 100% !important;
    height: 1em !important;

  }


  .results_container {
    width: 100%;
  }
  
  .results {
    position: relative;
    display: block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    margin-top: 2em;
  }
  
  .results h3 {
    margin: 0 0rem 0;
    font-size: 1.5rem;
  }
  
  
  .results > div {
    /* width: 90vw; */
    /* border: solid #eaeaea 1px; */
    padding: 1em;
  }


  .footer {
    /* width: 100%; */
    height: 100%;
    /* border-top: 1px solid #eaeaea; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-image: var(--purple);
    position: relative;
    z-index: inherit;
    padding: 1em 0;
  }


}