html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.button {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
  /* border: 1px solid; */
  outline: none;
}


.darkmode {
  background-color: rgb(34, 34, 34);
  color: #eaeaea;
}