@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Root variables */
:root {
  --purple: linear-gradient(to top, #755AE2, #5c5ae29c);
  --dropShadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background-color: #F6F6F6;
  font-family: "Roboto";
  color: #444444;
}


h2, h3 {
  background: var(--purple);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 26px;
  line-height: 30px;
}

/* Need to finesse the light switch for these texts too */
/* p, span {
  color: #444444;
} */

a {
  color: inherit;
  color: #1f97ff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #9a905d;
    height: 1px !important;
    padding: 0.4em !important;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    height: 1px;
    position: relative;
    z-index: inherit;
    overflow: visible;
    border-radius: 50px;
    cursor: ew-resize;
    background: var(--purple);
    box-shadow: -80px 0 0 75px ;
  }
} */


.button {
  padding: 0.8em 3em;
  font-size: 1em;
  border-radius: 0.5em;
  border: none;
  /* border: 1px solid; */
  outline: none;
  box-shadow: var(--dropShadow);
}

.buttonLightSwitch {
  padding: 0.7em;
  border-radius: 0.7em;
  z-index: 20;
}


.darkmode {
  background-color: #222222;
  /* background-color: #303030; */
  color: #eaeaea;
}


.darkmode__button {
  background-color: #eaeaea;
  color: #222222;
  /* color: orangered; */
}










/* SWITCH TOGGLE */

.mapToggle {
  /* border: solid green 1px; */
  max-width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.mapToggle p {
  margin: 0 0.5em;
}


.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0;
  bottom: 0;
  background-image: var(--purple);
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #cfc6fc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #cfc6fc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.buttonSearchMap {
  padding: 0.7em;
  font-size: 1em;
  border-radius: 0.5em;
  border: none;
  /* border: 1px solid; */
  outline: none;
  box-shadow: var(--dropShadow);
  margin: 0.5em auto;
}

.mapSearchButton {
  display: flex;
  flex-direction: column;
}





/* MAP */
#map {
  position: relative;
  max-height: 400px;
  min-height: 400px;
  margin: 0 auto;
  /* border: solid black 2px; */
  max-width: 90%;
}

#mapViewMap {
  /* position: relative; */
  max-height: 400px;
  min-height: 400px;
  /* border: solid black 2px; */
  /* width: 100%; */
  width: 700px;
  /* overflow: hidden; */
  margin: 2em auto;
}

/* #mapViewContainer {
  position: relative;
  min-height: 400px;
  margin: 0 auto;
  border: solid black 2px;
  max-width: 90%;
} */




/* https://docs.mapbox.com/help/tutorials/custom-markers-gl-js/ */
/* .marker {
  background-image: url('../public/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
} */


.mapbox-improve-map, .mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-compass { display: none; }









.formulas {
  margin: 1em auto;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  /* word-wrap: break-word; */
  /* width: 50em; */
  background: #fafafa;
  border-radius: 20px;
  /* padding: 0.75rem; */
  /* font-size: 1.1rem; */
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  display: block;
}



.layoutBody p, em, li {
  line-height: 1.4;
}





/* FAQ PAGE */
.questionCard {
  /* border: solid 1px whitesmoke; */
  border-radius: 20px;
  /* background-color: whitesmoke; */
  /* background: var(--purple); */
  box-shadow: var(--dropShadow);
  margin: 1em auto;
  padding: 0.3em 1em;
}

.questionCard p {
  line-height: 1.4;
}

.questionCard li {
  margin: 0.4em auto;
  line-height: 1.4;
}

.question:hover {
  cursor: pointer;
}

.opened {
  display: block;
}

.answer {
  display: none;
}





.navMenu {
  /* border: solid 1px orange; */
  /* width: 100%; */
  padding: 1.5em 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.navMenu * {
  font-size: 1.3em;
  color: #755AE2;
}

.navMenu *:hover{
  color: #5c5ae29c;
}







.nav {
  /* border: solid 1px orange; */
  position: relative;
  top: -0.3em;
  padding: 2em 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav * {
  font-size: 1.3em;
  color: #755AE2;
}

.nav *:hover{
  color: #5c5ae29c;
}



/* NAV MENU BURGER */
.burgerButton {
  display: none;  
}

@media screen and (max-width: 600px) {
  .burgerButton {
    display: block;
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 1;
    height: 3em;
    width: 3em;
    /* border: solid green 1px; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .burgerButton__bars, .burgerButton__bars::after, .burgerButton__bars::before {
    height: 0.4em;
    width: 100%;
    background: var(--purple);
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    border-radius: 9px;
    transition: all ease 0.2s;
  }

  .burgerButton__bars { margin-top: 0; }
  .burgerButton__bars::before { margin-top: 0.8em; left: 0;}
  .burgerButton__bars::after { margin-top: -0.8em; left: 0;}

  .burgerButton.expanded .burgerButton__bars { background: transparent; }
  .burgerButton.expanded .burgerButton__bars::after {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 0;
  }
    
  .burgerButton.expanded .burgerButton__bars::before {
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 0;
  }




  .navMenu {
    /* border: solid 1px orange; */
    padding: 0em;
    height: 18em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }


  .nav {
    /* border: solid 1px orange; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em 2em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    transition: all ease 0.2s;
    position: absolute;
    top: 0em;
    background-color: hsla(0, 0%, 26%, 0.988);
  }
  
  .nav * {
    font-size: 1.3em;
    color: #755AE2;
    padding: 1.2em 0;
  }
  
  .nav *:hover{
    color: #755AE2;
  }

  .navMenuClosed {
    transform: translateX(-100%)
  }

  .navMenuOpened {
    transform: translateX(0%);
  }


}